/* Mobile first! Tablet view */
@media only screen and (min-width: 769px) {
  #contents {
    /* flex-direction: column;
    align-content: center; */
    display: flex;
    flex-direction: column;

  }
  #sketchbook, #usb, #pillbox {
  /*  padding: 1em 2em 2em 1em;*/
  }
  body {
    width: 100%;
    margin: auto;
  }
  h1 {
    line-height: 1.5em;
    padding: 1em;
  }
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: auto;
  width: 100%;
  align-items: center;
  position: fixed;
}

h1 {
  text-align: center;
  padding: 1em 0em 1em 0em;
  margin-top: 0;
  background-color: #87b5ff;
  width: 100%;
  color: white;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#contents {
  display: grid;
  /* grid-template-columns: .25fr .25fr .25fr; */
  grid-template-columns: auto auto auto;
  /* justify-content: space-between; */
  align-items: center;
  margin: auto;
  clear: both;
  width: 100%;
}

#messages {
  width: 50%;
}

#usbButton, #sketchButton, #pillButton {
  border: none;
}

 #sketchbook, #usb, #pillbox {
   padding: 3em;
}

img:hover {
  box-shadow: 5px 5px 5px #888;
}

#sketchbook, #sketchButton {
  background-color: #e0c1ff;
}

#usb, #usbButton {
  background-color: #a1edb9;
}

#pillbox, #pillButton {
  background-color: #fcb5cf;
}

footer {
  font-size: 11pt;
  position: fixed;
  bottom: 0;
  padding: 10px 0px 10px 0px;
  width: 100%;
  text-align: center;
}

/* #backpack {
  display: flex;
  justify-content: center;
} */
