body {
  font-family: 'Overpass', sans-serif;
  /* overflow: hidden; */
  background-color: black;
  color: white;
}

h1 {
  text-transform: uppercase;
}

#home, #share {
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
}

#home p {
  line-height: 1.75em;
}

#visualizer {
  display: none;
}

#share {
  display: none;
  /* width: 100%; */
}

#social {
  cursor: pointer;
  margin-bottom: 2em;
}

#visualizer p {
  margin-left: 2em;
  line-height: 2em;
}

#close:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.button {
  background-color: black;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: .25em;
  text-align: center;
  padding: 1em;
  outline: 3px solid #fff;
  border-style: none;
  cursor: pointer;
  transition: all, 0.5s;
  margin-right: 1em;
  width: 100%;
}

.button:hover
 {
  box-shadow: 0px 0px 20px white;
}

#interface {
display: grid;
grid-template-columns: repeat(3,10em);
grid-template-rows: auto;
grid-column-gap: 2em;
grid-row-gap: 2em;
margin-left: 2em;
}

footer {
  text-transform: uppercase;
  position: fixed;
  bottom: 0;
  font-size: 12px;
  text-align: center;
  margin: 0.5em;
  width: 100%;
}

footer a {
  padding-right: 0.5em;
  transition: all, 0.5s;
}

footer a:hover {
  text-shadow: white 0px 0 50px;
}
